  
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

/* Three columns side by side */
.column {
  float: left;
  width: 25%;
  margin: 20px 10px 20px 20px;
  padding: 0 8px;
}
.card-index img{
  width: 100%;
}
/* Add some shadows to create a card effect */
.card-index {
  background: #f8f8f8;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 100%;
    margin-right: 100px;
    margin-left: 10px;
    transition: 0.3s;
    border-radius: 5px; 
    text-decoration: none !important;
}

.columna .card-index:hover{
  box-shadow: 0 8px 16px 0px rgba(1, 1, 1, 0.2);
    width : 108%;
    height: 108%;
}

.column .card-index:hover{
  box-shadow: 0 8px 16px 0px rgba(1, 1, 1, 0.2);
    width : 96%;
    height: 88%;
}

.row{
  display: flex;
  justify-content: center;
}

/* Some left and right padding inside the container */
.container {
  padding: 16px 16px;
}
.container h2{
  color: #555;
}

/* Clear floats */
.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  font-size: 16px !important;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}

body, html {
  overflow-x: hidden;
    height: 100%;
  }
body {
    font-family: 'Poppins', sans-serif !important;
    color: whitesmoke; 
    height: 100%;          
}


button {
	font-family: 'Poppins', sans-serif;
        text-spacing : 5px;
}

header {
	display: flex;
	width: 100%;
	height: 10vh;
    margin: auto;
    align-items: center;
    flex: 3;
}

footer {
    position: absolute;
    bottom: 0;
}
.copyright{
    float: right;
}
.logo-container,
.nav-links,
.junk {
	display: flex;
}

.logo-container {
    flex: 1;
    font-weight: 400;
    letter-spacing: 8px;
    font-family: 'IBM Plex Serif', serif !important;
    animation: flow 1.5s ease;
}
.logo {
    margin-left: 45%;
    margin-right: 45%;
    margin-top : 10%;
    animation: drop 1.5s ease;
}
nav {
	flex: 1;
}
  
.nav-hamburger {
    height: 10vh;
  }
  
  .nav-links-hamburger {
    display: flex;
    list-style: none;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
  }
  
  .nav-links-hamburger li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
  }
  

  
  @media screen and (max-width: 768px) {
    .line {
      width: 30px;
      height: 3px;
      background: white;
      margin: 5px;
    }
    
    
    .nav-hamburger {
      position: relative;
    }
  
    .hamburger {
      position: absolute;
      cursor: pointer;
      right: 5%;
      top: 50%;
      transform: translate(-5%, -50%);
      z-index: 2;
    }
  
    .nav-links-hamburger {
      position: fixed;
      height: 100vh;
      width: 100%;
      right: 0.5px;
      color: black;
      flex-direction: column;
      clip-path: circle(100px at 110% -10%);
      -webkit-clip-path: circle(100px at 110% -25%);
      transition: all 1s ease-out;
      pointer-events: none;
      background: whitesmoke;

    }
    .nav-links-hamburger.open {
      clip-path: circle(1000px at 100% -20%);
      -webkit-clip-path: circle(1000px at 100% -25%);
      pointer-events: all;
    }
    .nav-links-hamburger li {
      opacity: 0;
      color: black;
    }
    .nav-links-hamburger li a {
      color: black;
        font-size: 25px;
    }
.nav-links-hamburger li:nth-child(0) {
      transition: all 0.5s ease 0s;
    }
    .nav-links-hamburger li:nth-child(1) {
      transition: all 0.5s ease 0.2s;
    }
    .nav-links-hamburger li:nth-child(2) {
      transition: all 0.5s ease 0.4s;
    }
    .nav-links-hamburger li:nth-child(3) {
      transition: all 0.5s ease 0.6s;
    }
.nav-links-hamburger li:nth-child(4) {
      transition: all 0.5s ease 0.8s;
    }
.nav-links-hamburger li:nth-child(5) {
      transition: all 0.5s ease 1.0s;
    }
    li.fade {
      opacity: 1;
    }

    .fin{
        margin-left: 10%;
    }
  }
.nav-links {
	justify-content: space-around;
	list-style: none;
}
.nav-link {
	color: whitesmoke;
	font-size: 18px;
    text-decoration: none;
    float: right;
}

.list-links{
    text-decoration: none;
    background: linear-gradient(to right, #7d7d81, black );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.form-area{
    display: flex;
    flex:3;
    width: 100%;
    min-height: 80vh;
}

.introduction{
    flex: 1;
    color: black;
    height: auto;
}

.intro-text h1{
    font-size: 40px;
    font-weight: 500px;
    margin-left: 10%;
    margin-right: 10%;
    background: linear-gradient(to right, #494964, #6f6f89);
    text-align : center;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.intro-text p{
    margin-top: 5px;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 22px;
    color: #585772;
}
.intro-text ol{
    margin-top: 5px;
    margin-left: 20%;
    margin-right: 10%;
    font-size: 22px;
    color: #585772;
}
.parallax {
    /* The image used */
    background-image: url("back.jpg") !important;
    position: relative;
    /* Full height */
    height: 80%; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .parallaxmar {
    color: slategrey !important;
    /* The image used */
    background-image: url("back.jpg") !important;
    position: relative;
    /* Full height */
    height: auto; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .parallaxbottom {
    /* The image used */
    background-image: url("back.jpg") !important;
    position: relative;
    /* Full height */
    height: 35%; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
form{
    margin-left: 30%;
    margin-right: 15%;
    font-family: 'Poppins', sans-serif;
}

.textarea {
    width: 70%;
    height: 150px;
    padding: 10px 10px 10px 10px;
    box-sizing: border-box;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
  }
  input{
    font-family: 'Poppins', sans-serif;
    width: 50%;
    padding: 0 0 0 10px;
  }

  input[type=text]:focus {
    background-color: whitesmoke;
    color: black;
    font-size: 22px;
    font-family: 'Poppins', sans-serif;
  }

  input.in{
    width : 35%;
    height : 25px;
    font-size: 22px;
    border-radius: 4px;
}
input.in-email{
    width : 50%;
    height : 25px;
    font-size: 22px;
    border-radius: 4px;
}
input::placeholder {
    font-size: 12px;
  }


.button {
    display: inline-block;
    border-radius: 4px;
    background-color: lightgray;
    padding: 2px 10px 2px 10px;
    border: none;
    color: black;
    text-align: center;
    font-size: 28px;
    width: 70%;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }
  .contact{
      margin-left: 30% !important;
  }

  .quotes{
    font-family: 'Playfair Display', serif;
    font-size: 24px;
    margin-left: 20%;
    margin-right: 20%;
    font-weight: 400;
    text-align: center;
  }
.quotes p{
  color: red;
}
  .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 64%;
    padding: 10px 20px 10px 20px;
    margin-right: 18%;
    margin-left: 18%;
    background: linear-gradient(to bottom, #B6EDB6,  #D4F4D4 );;
    transition: 0.3s;
    border-radius: 5px; 
    text-decoration: none !important;
  }
.card a{
  text-decoration: none;
}
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    width : 70%;
    margin-right: 15%;
    margin-left: 15%;
    height: 40%;
  }
  
  .card-head{
    align-content: center;
    text-align: center;
    text-emphasis: none;
  }
  .card-head-subs{
    text-emphasis: none;
    text-align: center;
    color: #7d7d81;
  }
  .card-head-subs a{
    text-decoration: none;
    color: #7d7d81 ;
  }
  .card-head-subs a:hover{
    color: black;
  }

  p img{
    display: block;
    align-content: center;
    box-shadow: 0 8px 16px 0 black;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    
  }

  .cards{
    display: flex;
    flex: 3;
    padding: 20px;
    align-items: flex-start;
    justify-content: space-evenly;
    
  }

  .cardb {
    position: relative;
    left: 250px;    
    transform: translate(0%, 0%);
    width: 300px;
    height: 500px;
    background-color: #fafafa;
    color: #212121;
    border-radius: 15px;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0px 1px 15px rgba(35, 35, 35, .8);
}

.cardb img {
    width: 100%;
}

.carda {
  position: relative;
  left: 21%;
  margin-top: 100px;    
  transform: translate(0%, 0%);
  width: 300px;
  height: 500px;
  background-color: #fafafa;
  color: #212121;
  border-radius: 15px;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0px 1px 15px rgba(35, 35, 35, .8);
}

.carda img {
  width: 100%;
}

.cardc {
  position: relative;
  left: 25%;    
  transform: translate(0%, 0%);
  width: 300px;
  height: 500px;
  background-color: #fafafa;
  color: #212121;
  border-radius: 15px;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0px 1px 15px rgba(35, 35, 35, .8);
}

.cardc img {
  width: 100%;
}

.cardd {
  position: relative;
  right: inherit;
  margin-top: 700px;    
  transform: translate(0%, 0%);
  width: 300px;
  height: 500px;
  background-color: #fafafa;
  color: #212121;
  border-radius: 15px;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0px 1px 15px rgba(35, 35, 35, .8);
}

.cardd img {
  width: 100%;
}

.carde {
position: relative;
margin-right: 400px;
margin-top: 700px;    
transform: translate(0%, 0%);
width: 300px;
height: 500px;
background-color: #fafafa;
color: #212121;
border-radius: 15px;
overflow: hidden;
cursor: pointer;
box-shadow: 0px 1px 15px rgba(35, 35, 35, .8);
}

.carde img {
width: 100%;
}

.cardf {
  position: relative;
  margin-top: 700px;    
  transform: translate(0%, 0%);
  width: 300px;
  height: 500px;
  background-color: #fafafa;
  color: #212121;
  border-radius: 15px;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0px 1px 15px rgba(35, 35, 35, .8);
  }
  
  .cardf img {
  width: 100%;
  }
  
.black {
    z-index: 2;
    background-image: "pig.png";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 15px;
    color: #fafafa;
    transition: opacity .4s ease-in-out;
    opacity: 0;
    font-family: 'Poppins', sans-serif !important;
}

.black img {
    width: 64px;
    height: 64px;
    border-radius: 100%;
    border: 2px solid #fafafa;
    float: left;
}

.black .text_info {
    float: left;
    margin-left: 15px;
    margin-top: 15px;
}

.text {
    position: absolute;
    bottom: 0;
    z-index: 3;
    padding: 15px 15px 0 15px;
    height: auto;
    background-color: #fafafa;
}

.desc {
    width: calc(100%);
    background-color: #fafafa;
    overflow: hidden;
    margin-bottom: -300px;
    opacity: 0;
    transition: all .4s ease-in-out;
    font-family: 'Poppins', sans-serif !important;
}

.desc h1 {
    margin-bottom: 15px;
}

.desc p {
    font-size: .9rem;
    line-height: 1.8rem;
    font-family: 'Poppins', sans-serif !important;
}

.info {
    height: calc(100% + 30px);
    width: calc(100% + 30px);
    background-color: #fafafa;
    text-align: center;
    display: flex;
    flex-direction: row;
    position: relative;
    left: 50%;
    padding: 15px 0;
    transform: translateX(-50%);

}

.introductionc{
  margin-top: 5vh;
  text-align: center;
}

.introductionc h1{
font-size: 40px;
font-weight: 500px;
margin-left: 10%;
margin-right: 10%;
background: linear-gradient(to right, #7D7D91, #FFFFFF);
text-align : center;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.info h1 {
  font-family: 'Poppins', sans-serif !important;
    font-weight: 300;
}

.info .col {
    width: 33%;
}

.info .col i {
    font-size: 1.8rem;
}
.column {
  float: left;
  width: 20%;
  margin: 20px 10px 20px 20px;
  padding: 0 8px;
}

.columna {
  float: left;
  width: 20%;
  margin: 20px 30px 20px 20px;
  margin-top: 100px;
  padding: 0 8px;
}

@media screen and (max-width: 768px){

  .column {
    float: left;
    width: 50%;
    font-size: 12px !important;
    margin: 20px 10px 20px 20px;
    padding: 0 8px;
    font-size: 18px;
  }
.column h2{
  font-size: 14px !important;
}

.columna h2{
  font-size: 14px !important;
}

.button{
  font-size: 10px !important;
}
  .columna {
    float: left;
    font-size: 12px !important;
    width: 50%;
    margin: 20px 30px 20px 20px;
    margin-top: 100px;
    padding: 0 8px;
  }
    .button{
        font-size: 16px;
    }
    .logo-container h1
    {
        padding: 40px 5px 5px 5px;
    }
    .presentation{
        flex-direction: column;
    }
    .introduction{
        margin-top: 5vh;
        text-align: center;
    }

    .introductionc{
      margin-top: 5vh;
      
      text-align: center;
  }

  .introductionc h1{
    font-size: 40px;
    font-weight: 500px;
    margin-left: 10%;
    margin-right: 10%;
    background: linear-gradient(to right, #7D7D91, #FFFFFF);
    text-align : center;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
    .intro-text h1{
        font-size: 30px;

    }
    .intro-text p{
        font-size: 14px;
        margin-left: 10% !important;
    }
    .intro-text li{
        font-size: 14px !important;
    }
    .logo{
        margin-right: auto;
        margin-left: 40%;
    }
}


@keyframes drop{
  0%{
      opacity: 0;
      transform: translateY(-80px);
  }

  100%{
      opacity: 1;
      transform: translateY(0px);
  }
}

@keyframes flow{
  0%{
      opacity: 0;
      transform: translateX(-1000px);
  }

  100%{
      opacity: 1;
      transform: translateX(0px);
  }
}